<div class="row">

    <div class="col-12 col-xxl-6">
        <div class="container">
          <form class="mt-4 mb-4" [formGroup]="myFormCotizacion" (ngSubmit)="generarCotizacion()">
            
            <div class="row mt-2 mb-2 text-center">
                <H5> GENERAR COTIZACIÓN</H5>
            </div>

            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    DATOS DE CLIENTE
                </div>
                <div class="card-body">

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalClientes">
                        Buscar Cliente
                    </button>

                    <div class="modal fade" id="modalClientes" tabindex="-1" aria-labelledby="modalClientesLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalClientesLabel">Buscar Cliente</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                      
                              <!-- Campo de búsqueda -->
                              <input type="text" class="form-control mb-2" placeholder="Ingrese nombre o documento..." 
                              [(ngModel)]="terminoBusquedaPaciente"
                              (input)="buscarPaciente()"
                              [ngModelOptions]="{standalone: true}">
                      
                              <!-- Tabla con pacientes -->
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>N°</th>
                                    <th>Documento</th>
                                    <th>Nombre</th>
                                    <th>HC</th>
                                    <th>Acción</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let paciente of pacientes; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ paciente.nroDoc }}</td>
                                    <td>{{ paciente.apePatCliente }} {{ paciente.apeMatCliente }} {{ paciente.nombreCliente }}</td>
                                    <td>{{ paciente.hc }}</td>                                  
                                    <td>
                                      <button class="btn btn-sm btn-success" (click)="seleccionarPaciente(paciente)">Seleccionar</button>
                                    </td>
                                  </tr>
                                  <tr *ngIf="pacientes.length === 0">
                                    <td colspan="4" class="text-center">No se encontraron clientes.</td>
                                  </tr>
                                </tbody>
                              </table>
                      
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                    </div>



                    
                    <div class="row mt-2">

                        <div class="col-lg-3">
                            <label for="codCliente" class="col-form-label">CÓDIGO CLIENTE</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" id="codCliente" class="form-control readonly-style" formControlName="codCliente" readonly>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <div class="col-lg-3">
                            <label for="nomCliente" class="col-form-label">NOMBRE DE CLIENTE</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="nomCliente" class="form-control readonly-style text-uppercase" formControlName="nomCliente" readonly>
                        </div>

                    </div>



                    <div class="card mb-4 mt-3">
                        <div class="card-header bg-success text-white">
                          EXÁMENES COTIZADOS
                        </div>
                        <div class="card-body">

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPruebas">
                            Agregar Examen
                        </button>

                        <div class="modal fade" id="modalPruebas" tabindex="-1" aria-labelledby="modalPruebasLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="modalPruebasLabel">Buscar Prueba</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                          
                                  <!-- Campo de búsqueda -->
                                  <input type="text" class="form-control mb-2" placeholder="Ingrese busqueda de Pruebas..." 
                                  [(ngModel)]="terminoBusquedaPrueba"
                                  (input)="buscarPrueba()"
                                  [ngModelOptions]="{standalone: true}">
                          
                                  <!-- Tabla con pacientes -->
                                  <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Código</th>
                                            <th scope="col">Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let prueba of pruebas; let i = index"
                                            [ngClass]="{'table-hover-row': true}">
                                            <td>{{ prueba.codPruebaLab}}</td>
                                            <td>{{ prueba.nombrePruebaLab}}</td>
                                            <td><button type="button" class="btn btn-sm btn-success" (click)="seleccionarPrueba(prueba)">Seleccionar</button></td>
                                        </tr>
                                        
                                        <tr *ngIf="pruebas.length === 0">
                                            <td colspan="7" class="text-center">No se encontraron pruebas.</td>
                                        </tr>
                                    </tbody>
                                  </table>
                          
                                  <div *ngIf="pruebaSeleccionada">
                                    <h6>Detalles de la Prueba</h6>
                                    <div class="row">
                                      <div class="col-md-2">
                                        <label for="cantidad" class="form-label">Cantidad</label>
                                        <input type="number" class="form-control" [(ngModel)]="pruebaSeleccionada.cantidad" min="1">
                                      </div>
                                      <div class="col-md-2">
                                        <label for="precio" class="form-label">Precio Unitario</label>
                                        <input type="number" class="form-control" [(ngModel)]="pruebaSeleccionada.precioUnitario" min="0">
                                      </div>
                                      <div class="col-md-2">
                                        <label for="descuento" class="form-label">Descuento (%)</label>
                                        <input type="number" class="form-control" [(ngModel)]="pruebaSeleccionada.descuento" min="0" max="100">
                                      </div>
                                    </div>
                                  </div>


                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                  <button type="button" class="btn btn-primary" (click)="agregarPrueba()" [disabled]="!pruebaSeleccionada">Agregar</button>
                                </div>
                              </div>
                            </div>
                        </div>

          
                            <div class="row mt-2">
          
                       
                                <div class="col-lg-12"> 
            
                                <table class="table table-hover" formArrayName="pruebasCotizacion">
                                    <thead>
                                    <tr>
                                        <th scope="col">Acción</th>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio Unitario</th>
                                        <th scope="col">Descuento (%)</th>
                                        <th scope="col">Total Unitario</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of pruebasCotizacion.controls; let i = index"
                                        [ngClass]="{'table-hover-row': true}">

                                        <td><button type="button" class="btn btn-sm btn-danger" (click)="removerPrueba(i)"> Remover</button></td>
                                        <td>{{ item.value.codPruebaLab}}</td>
                                        <td>{{ item.value.nombrePruebaLab}}</td>


                                    </tr>
                                    
                                    <tr *ngIf="pruebasCotizacion.controls.length === 0">
                                        <td colspan="7" class="text-center">No se encontraron pruebas.</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
          
                            </div>
          
                          <div class="row mt-2">
                            <!--
                            <span class="text-danger" *ngIf="!validarArrayItems() && formSubmitted">
                              Por favor seleccione al menos un item
                            </span> 
                            -->
                          </div>
          
                        </div>
                    </div>
                    

                </div>
              </div>
          </form>
        </div>
    </div>
</div>