.readonly-style {
    background-color: #e9ecef; /* Color de fondo similar a disabled */
    color: #6c757d; /* Color de texto similar a disabled */
    cursor: not-allowed; /* Cambia el cursor */
  }