<form class="container mt-4 mb-4" [formGroup]="myForm">

  <div class="row mt-2 mb-2">
      <H5>DATOS PERSONALES</H5>
  </div>

  <div class="row mt-2">

    <div class="col-lg-2">  
      <label for="tipoDoc" class="col-form-label" >Tipo Documento</label>
    </div>
    <div class="col-lg-2">
      <select class="form-select" id="tipoDoc">
        <option value="1" selected>DNI</option>
        <option value="2">CE</option>
        <option value="3">PASAPORTE</option>
      </select>
    </div>

      <div class="col-lg-2">
        <label for="nroDoc" class="col-form-label">Nro. Documento</label>
      </div>
      <div class="col-lg-2">
        <input type="text" id="nroDoc" class="form-control">
      </div>

  </div>

  <div class="row mt-2">

    <div class="col-lg-2">
      <label for="nombrePaciente" class="col-form-label">Nombres</label>
    </div>
    <div class="col-lg-4">
      <input type="text" id="nombrePaciente" class="form-control" placeholder="Ingrese nombres">
    </div>

  </div>

  <div class="row mt-2">

    <div class="col-lg-2">  
      <label for="apePatPaciente" class="col-form-label">Apellido Paterno</label>
    </div>
    <div class="col-lg-4">
      <input type="text" id="apePatPaciente" class="form-control" placeholder="Ingrese apellido paterno">
    </div>

  </div>

  <div class="row mt-2">
    
    <div class="col-lg-2">  
      <label for="apeMatPaciente" class="col-form-label">Apellido Materno</label>
    </div>
    <div class="col-lg-4">
      <input type="text" id="apeMatPaciente" class="form-control" placeholder="Ingrese apellido materno">
    </div>

  </div>

  <div class="row mt-2">

    <div class="col-lg-2">  
      <label for="fechaNac" class="col-form-label">Fecha nacimiento</label>
    </div>
    <div class="col-lg-2">

      <div class="input-group">
        <input type="text" class="datepicker_input form-control" id='fechaNac'>
        <span class="input-group-text">
          <i class="bi bi-calendar"></i>
        </span>
      </div>
    
    </div>

    <div class="col-lg-1">  
      <label for="Edad" class="col-form-label">Edad</label>
    </div>
    <div class="col-lg-1">
      <input type="text" id="Edad" class="form-control" disabled >
    </div>

    <div class="col-lg-1">  
      <label for="Sexo" class="col-form-label">Sexo</label>
    </div>
    <div class="col-lg-2">
      <select class="form-select" id="Sexo">
        <option selected>Seleccionar</option>
        <option value="1">Masculino</option>
        <option value="2">Femenino</option>
      </select>
    </div>

  </div>

  <div class="row mt-4 mb-2">
      <H5>DATOS DE CONTACTO</H5>
  </div>

  <form [formGroup]="phoneForm">

  
  <div class="row mt-4 mb-2">

    <div class="col-lg-2">
      <label for="telfPaciente" class="col-form-label">Teléfono</label>
    </div>
    <div class="col-lg-2">
      <input type="text" id="telfPaciente" class="form-control" formControlName="phoneNumber">
    </div>
    <div class="col-lg-1">
      <label for="telfDes" class="col-form-label">Descripción</label>
    </div>
    <div class="col-lg-3">
      <input type="text" id="telfDes" class="form-control" formControlName="descriptionPhone">
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary" (click)="addPhoneItem()">Agregar</button>
    </div>

  </div>

</form>

  <div class="row mt-2">

    <table id="phoneTable" class="table table-sm">

        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Número</th>
            <th scope="col">Descripción</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of phoneData">
            <td><span>{{item.phoneNumber}}</span></td>
            <td><span>{{item.descriptionPhone}}</span></td>
          </tr>
        </tbody>

      </table>

  </div>

  


</form>
