<form class="container mt-4 mb-4">

  <div class="row mt-2">

    <div class="col-lg-2">  
      <label for="tipoDoc" class="col-form-label" >Tipo Documento</label>
    </div>
    <div class="col-lg-2">
      <select class="form-select" id="tipoDoc">
        <option value="1" selected>DNI</option>
        <option value="2">CE</option>
        <option value="3">PASAPORTE</option>
      </select>
    </div>

      <div class="col-lg-2">
        <label for="nroDoc" class="col-form-label">Nro. Documento</label>
      </div>
      <div class="col-lg-2">
        <input type="text" id="nroDoc" class="form-control">
      </div>

      <div class="col-lg-1">
        <label for="nombrePaciente" class="col-form-label">Nombres</label>
      </div>
      <div class="col-lg-3">
        <input type="text" id="nombrePaciente" class="form-control" placeholder="Ingrese sus nombres">
      </div>

  </div>


  <div class="row mt-2">

    <div class="col-lg-2">  
      <label for="apePatPaciente" class="col-form-label">Apellido Paterno</label>
    </div>
    <div class="col-lg-4">
      <input type="text" id="apePatPaciente" class="form-control" placeholder="Ingrese su apellido paterno">
    </div>
    <div class="col-lg-2">  
      <label for="apeMatPaciente" class="col-form-label">Apellido Materno</label>
    </div>
    <div class="col-lg-4">
      <input type="text" id="apeMatPaciente" class="form-control" placeholder="Ingrese su apellido materno">
    </div>
  </div>

  <div class="row mt-2">

    <div class="col-lg-2">  
      <label for="fechaNac" class="col-form-label">Fecha nacimiento</label>
    </div>
    <div class="col-lg-2">
      <div class='input-group date' id='fechaNac'>
        <input type='text' class="datepicker_input form-control">
        <span class="input-group-addon">
          <i class="bi-calendar"></i>
        </span>
      </div>
    </div>

    <div class="col-lg-1">  
      <label for="Edad" class="col-form-label">Edad</label>
    </div>
    <div class="col-lg-1">
      <input type="text" id="Edad" class="form-control" disabled >
    </div>

    <div class="col-lg-1">  
      <label for="Sexo" class="col-form-label">Sexo</label>
    </div>
    <div class="col-lg-2">
      <select class="form-select" id="Sexo">
        <option selected>Seleccionar</option>
        <option value="1">Masculino</option>
        <option value="2">Femenino</option>
      </select>
    </div>

  </div>

</form>

<!--
<div class="flexbox-content">
    <form
      class="login-form"
      autocomplete="off"
      [formGroup]="myForm"
      (ngSubmit)="userRegister()"
    >
    
      <h1 class="login-form-title">REGISTRAR PACIENTE</h1>

      <div class="wrap-input">
        <span class="label-input">Nombres</span>
        <input
          class="input"
          type="text"
          formControlName="name"
          placeholder="Ingrese su nombre"
        />
        <span class="text-danger" *ngIf="fieldIsInvalidReactive('name')">
          Por favor ingrese su nombre
        </span>
      </div>

      <div class="wrap-input">
        <span class="label-input">Email</span>
        <input
          class="input"
          type="email"
          formControlName="email"
          placeholder="Ingrese su email"
        />
        <span class="text-danger" *ngIf="fieldIsInvalidReactive('email')">
          Por favor poner un email valido
        </span>
      </div>
  
      <div class="wrap-input">
        <span class="label-input">Password</span>
        <input
          class="input"
          type="password"
          formControlName="password"
          autocomplete="off"
          placeholder="Ingrese su contraseña"
        />
  
        <span class="text-danger" *ngIf="fieldIsInvalidReactive('password')">
          La contraseña debe ser 6 caracteres o mayor
        </span>
      </div>
  
      <div class="wrap-input">
        <span class="label-input">Seleccione Cargo</span>
        <select 
          class="form-select"
          formControlName="rol"
          aria-label="Default select example">
          <option value="1" selected>Cliente</option>
          <option value="2">Administrador</option>
      </select>
      <span class="text-danger" *ngIf="fieldIsInvalidReactive('rol')">
        Debe seleccionar un cargo
      </span>
      </div>
      

      <div class="text-right p-t-8 p-b-31"></div>
  
      <div class="container-login-form-btn">
        <div class="wrap-login-form-btn">
          <div class="login-form-bgbtn"></div>
          <button
            class="login-form-btn"
            type="submit"
            [disabled]="myForm.invalid"
            [ngClass]="{
              'blue-valid': myForm.valid,
              'blue-invalid': myForm.invalid
            }"
          >
            Registrar Cliente
          </button>
        </div>
      </div>
    </form>
    <div class="crearCuenta">
      <span class="txt1 p-b-17"> ¿Ya tienes cuenta? </span>
      |
      <a routerLink="/auth/login" class="txt2"> Ingresa aquí </a>
    </div>
 
  </div>-->