.offcanvas {
    width: 250px; /* Ancho del sidebar */
}

.offcanvas-body {
    padding: 15px;
}

.nav-link {
    font-size: 1.1rem;
    padding: 10px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Estilo para los dropdowns */
.nav-item .collapse {
    transition: height 0.3s ease-in-out;
}

.nav-item .collapse.show {
    display: block;
}

.cls-4, .cls-3{
    fill:white;
}

.icon {
    height: 21px;
    width: 17.5px;
    fill: white; /* Cambia el color del icono */
}

.icon use {
    width: 100%;
    height: 100%;
}
