<div class="row">

  <div class="col-12 col-xxl-8">

      <form class="mt-2 mb-4" [formGroup]="myFormCotizacion" (ngSubmit)="generarCotizacion()">

        <div class="row mt-2" style="align-items: center;">

          <div class="col-lg-4">
            <h5 class="text-center" style="font-weight: 500;">COTIZACIÓN PACIENTE</h5>
          </div>
  
          <div class="col-lg-2">
            <label for="codCotizacion" class="col-form-label" style="font-size: 1.2rem; font-weight: 500;">N° Cotización</label>
          </div>
          
          <div class="col-lg-2">
              <input type="text" id="codCotizacion" class="form-control readonly-style" formControlName="codCotizacion" readonly>
          </div>    
  
          <div class="col-lg-1">
            <label for="version" class="col-form-label" style="font-size: 1.2rem; font-weight: 500;">Versión</label>
          </div>

          <div class="col-lg-2">
            <div class="input-group">
              <button class="btn btn-outline-secondary" type="button" (click)="cambiarVersion(-1)">
                <i class="bi bi-arrow-left"></i>
              </button>
              <input type="text" class="form-control text-center" id="version" 
                    formControlName="version" readonly>
              <button class="btn btn-outline-secondary" type="button" (click)="cambiarVersion(1)">
                <i class="bi bi-arrow-right"></i>
              </button>
              <button class="btn btn-outline-secondary" type="button" (click)="irUltimaVersion()">Vigente</button>

            </div>
          </div>
  
        </div> 
        
        <div class="card mb-4 mt-2">

          <div class="card-header bg-primary text-white">
            DATOS DEL PACIENTE
          </div>

          <div class="card-body">                    

            <div class="modal fade" id="modalClientes" tabindex="-1" aria-labelledby="modalClientesLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalClientesLabel">Buscar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                  </div>
                  <div class="modal-body">
            
                    <!-- Campo de búsqueda -->
                    <input type="text" class="form-control mb-2" placeholder="Ingrese nombre o documento..." 
                    [(ngModel)]="terminoBusquedaPaciente"
                    (input)="buscarPaciente()"
                    [ngModelOptions]="{standalone: true}">
            
                    <!-- Tabla con pacientes -->
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>Documento</th>
                          <th>Nombre</th>
                          <th>HC</th>
                          <th>Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let paciente of pacientes; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ paciente.nroDoc }}</td>
                          <td>{{ paciente.apePatCliente }} {{ paciente.apeMatCliente }} {{ paciente.nombreCliente }}</td>
                          <td>{{ paciente.hc }}</td>                                  
                          <td>
                            <button type="button" class="btn btn-sm btn-success" (click)="seleccionarPaciente(paciente)" data-bs-dismiss="modal">Seleccionar</button>
                          </td>
                        </tr>
                        <tr *ngIf="pacientes.length === 0">
                          <td colspan="4" class="text-center">No se encontraron clientes.</td>
                        </tr>
                      </tbody>
                    </table>
            
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2 align-items-center">

              <div class="col-lg-2">
                  <label for="estadoRegistroPaciente" class="col-form-label">¿Está registrado?</label>
              </div>

              <div class="col-lg-1">
  
                <div class="form-check form-switch">

                  <input 
                    class="form-check-input" 
                    type="checkbox" 
                    role="switch"
                    id="estadoRegistroPaciente"
                    formControlName="estadoRegistroPaciente"
                    (change)="camnbioEstadoRegistroPaciente()"/>

                </div>

              </div>            

              <div class="col-lg-2" *ngIf="myFormCotizacion.get('estadoRegistroPaciente')?.value">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalClientes">
                  Buscar Paciente
                </button>
              </div>

              <div class="col-lg-2" *ngIf="myFormCotizacion.get('estadoRegistroPaciente')?.value">
                <label for="codCliente" class="col-form-label">Historia Clínica</label>
              </div>
              
              <div class="col-lg-2" *ngIf="myFormCotizacion.get('estadoRegistroPaciente')?.value">
                  <input type="text" id="codCliente" class="form-control readonly-style" formControlName="codCliente" readonly>
              </div>              

            </div>

            
            <div class="row mt-2">

              <div class="col-lg-2">
                <label for="nomCliente" class="col-form-label">Nombre de Cliente</label>
              </div>

              <div class="col-lg-4">
                  <input type="text" id="nomCliente" class="form-control text-uppercase" formControlName="nomCliente">
              </div>

              <div class="col-lg-1">  
                <label for="tipoDoc" class="col-form-label" >Tipo Doc</label>
              </div>
    
              <div class="col-lg-2">
                <select class="form-select" id="tipoDoc" formControlName="tipoDoc">
                  <option value="0" selected>DNI</option>
                  <option value="1" >CE</option>
                  <option value="2">PASAPORTE</option>
                </select>
              </div>

              <div class="col-lg-1">
                <label for="nroDoc" class="col-form-label">Nro. Doc</label>
              </div>
              
              <div class="col-lg-2">

                <input type="text" id="nroDoc" class="form-control"
                formControlName="nroDoc"
                [ngClass]="{
                  'is-valid': myFormCotizacion.get('nroDoc')?.valid && formSubmitted,
                  'is-invalid': myFormCotizacion.get('nroDoc')?.invalid && formSubmitted
                }">
                
                <div *ngIf="myFormCotizacion.get('nroDoc')?.invalid && formSubmitted" class="invalid-feedback">
                  <!--//Número de documento es obligatorio-->
                  <small *ngIf="myFormCotizacion.get('nroDoc')?.errors?.['required']">El número de documento es obligatorio.</small>
                  <small *ngIf="myFormCotizacion.get('nroDoc')?.errors?.['invalidDNI']">
                    El DNI debe tener exactamente 8 dígitos.
                  </small>
                  <small *ngIf="myFormCotizacion.get('nroDoc')?.errors?.['invalidCE']">
                    El CE debe tener un máximo de 13 caracteres alfanuméricos.
                  </small>
                  <small *ngIf="myFormCotizacion.get('nroDoc')?.errors?.['invalidPasaporte']">
                    El Pasaporte debe tener un máximo de 16 caracteres alfanuméricos.
                  </small>
    
                </div>
      
              </div>

            </div>

          </div>

        </div>

        <div class="card mb-4">

          <div class="card-header bg-primary text-white">
            SOLICITANTE
          </div>

          <div class="card-body">                    

            <div class="modal fade" id="modalIndicacion" tabindex="-1" aria-labelledby="modalIndicacionLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalIndicacionLabel">Buscar Solicitante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                  </div>
                  <div class="modal-body">
            
                    <!-- Campo de búsqueda -->
                    <input type="text" class="form-control mb-2" placeholder="Ingrese nombre o documento..." 
                    [(ngModel)]="terminoBusquedaMedico"
                    (input)="buscarSolicitante()"
                    [ngModelOptions]="{standalone: true}">
            
                    <!-- Tabla con medicos -->
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>Nombre</th>
                          <th>Profesión</th>
                          <th>Colegiatura</th>
                          <th>Especialidad</th>
                          <th>Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let solicitante of solicitantes; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ solicitante.apePatRecHumano }} {{ solicitante.apeMatRecHumano }} {{ solicitante.nombreRecHumano }}</td>
                          <td>{{ solicitante.profesionSolicitante?.profesion }}</td> 
                          <td>{{ solicitante.profesionSolicitante?.nroColegiatura }}</td> 
                          <td>{{ getEspecialidadesTexto(solicitante)}}</td>                                   
                          <td>
                            <button type="button" class="btn btn-sm btn-success" (click)="seleccionarSolicitante(solicitante)" data-bs-dismiss="modal">Seleccionar</button>
                          </td>
                        </tr>
                        <tr *ngIf="solicitantes.length === 0">
                          <td colspan="7" class="text-center">No se encontraron solicitantes.</td>
                        </tr>
                      </tbody>
                    </table>
            
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2 align-items-center">

              <div class="col-lg-2">
                  <label for="estadoRegistroSolicitante" class="col-form-label"> ¿Está registrado?</label>
              </div>

              <div class="col-lg-1">
  
                <div class="form-check form-switch">

                  <input 
                    class="form-check-input" 
                    type="checkbox" 
                    role="switch"
                    id="estadoRegistroSolicitante"
                    formControlName="estadoRegistroSolicitante"
                    (change)="camnbioEstadoRegistroSolicitante()"/>

                </div>

              </div>            

              <div class="col-lg-2" *ngIf="myFormCotizacion.get('estadoRegistroSolicitante')?.value" >
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIndicacion">
                  Buscar Solicitante
                </button>
              </div>

              <div class="col-lg-1" *ngIf="myFormCotizacion.get('estadoRegistroSolicitante')?.value">
                <label for="codSolicitante" class="col-form-label">Código</label>
              </div>
              
              <div class="col-lg-2" *ngIf="myFormCotizacion.get('estadoRegistroSolicitante')?.value">
                  <input type="text" id="codSolicitante" class="form-control readonly-style" formControlName="codSolicitante" readonly>
              </div>

              
              <div class="col-lg-1">
                <label for="especialidadSolicitante" class="col-form-label">Especialidad</label>
              </div>
              
              <div class="col-lg-3" >
                  <input type="text" id="especialidadSolicitante" class="form-control" formControlName="especialidadSolicitante">
              </div>
              

            </div>

            
            <div class="row mt-2">

              <div class="col-lg-2">
                <label for="nomSolicitante" class="col-form-label">Nombre</label>
              </div>

              <div class="col-lg-4">
                  <input type="text" id="nomSolicitante" class="form-control text-uppercase" formControlName="nomSolicitante">
              </div>

              <div class="col-lg-1">
                <label for="profesionSolicitante" class="col-form-label">Profesión</label>
              </div>

              <div class="col-lg-2">
                  <input type="text" id="profesionSolicitante" class="form-control" formControlName="profesionSolicitante" >
              </div>

              <div class="col-lg-1">
                <label for="colegiatura" class="col-form-label">Colegiatura</label>
              </div>
              
              <div class="col-lg-2" >
                  <input type="text" id="colegiatura" class="form-control" formControlName="colegiatura">
              </div>



            </div>

          </div>

        </div>

        <div class="card mb-4 mt-3">

          <div class="card-header bg-success text-white">
            SERVICIOS COTIZADOS
          </div>

          <div class="card-body">

            <div class="row mt-2">

              <div class="col-lg-12 table-responsive"> 

                <table class="table table-hover table-bordered table-sm text-center" formArrayName="serviciosCotizacion">
                  <thead>
                    <tr>
                      <th class="col-1" scope="col">Acción</th>
                      <th class="col-1" scope="col">Código</th>
                      <th class="col-1" scope="col">Tipo</th>
                      <th class="col-3" scope="col">Nombre</th>
                      <th class="col-1" scope="col">Cantidad</th>
                      <th class="col-1" scope="col">Precio Lista</th>
                      <th class="col-1" scope="col">Desc. o Aumento</th>
                      <th class="col-1" scope="col">Precio Venta</th>
                      <th class="col-1" scope="col">Descuento (%)</th>
                      <th class="col-1" scope="col">Total Unitario</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let servicio of serviciosCotizacion.controls; let i = index"
                        [formGroupName]="i"
                        [ngClass]="{'table-hover-row': true}">
                        
                      <td class="col-1">
                        <i class="bi bi-trash3-fill text-danger" (click)="removerServicio(i)" title="Remover" style="cursor: pointer; font-size: 1rem;"></i>
                      </td>

                      <td class="col-1">{{ servicio.value.codServicio }}</td>
                      <td class="col-1">{{ servicio.value.tipoServicio }}</td>
                      <td class="col-3">{{ servicio.value.nombreServicio }}</td>

                      <!-- Cantidad -->
                      <td class="col-1">
                        <input type="number" class="form-control form-control-sm text-center" formControlName="cantidad" min="1" (input)="calcularTotalUnitario(i)"
                        (keypress)="validarEntradaEntero($event)"
                        (blur)="corregirEntero(i,'cantidad')"
                        [ngClass]="{'is-invalid': serviciosCotizacion.at(i).get('cantidad')?.invalid}">
                        
                        <div *ngIf="serviciosCotizacion.at(i).get('cantidad')?.invalid" class="invalid-feedback">
                          <small *ngIf="serviciosCotizacion.at(i).get('cantidad')?.errors?.['required']">
                            La cantidad es obligatoria.
                          </small>
                          <small *ngIf="serviciosCotizacion.at(i).get('cantidad')?.errors?.['min']">
                            La cantidad debe ser al menos 1.
                          </small>
                        </div>
                      </td>

                      <!-- Precio Unitario -->
                      <td class="col-1">S/ {{ servicio.value.precioLista}}</td>

                      <!-- Diferencia -->
                      <td class="col-1">S/ {{ servicio.value.diferencia}}</td>

                      <!-- Precio Venta -->
                      <td class="col-1">
                        <input type="number" class="form-control form-control-sm text-center" formControlName="precioVenta" min="0" (input)="calcularTotalUnitario(i)"
                        (keypress)="validarDecimal($event)"
                        (blur)="corregirDecimal(i, 'precioVenta')">
                      </td>

                      <!-- Descuento %-->
                      <td class="col-1">
                        <input type="number" class="form-control form-control-sm text-center" formControlName="descuentoPorcentaje" min="0" max="100" (input)="calcularTotalUnitario(i)"
                        (keypress)="validarEntradaEntero($event)"
                        (blur)="corregirEntero(i,'descuentoPorcentaje')"
                        >
                      </td>

                      <!-- Total Unitario -->
                      <td class="col-1">S/ {{ servicio.value.totalUnitario }}
                      </td>

                    </tr>
                  
                    <tr *ngIf="serviciosCotizacion.controls.length === 0">
                      <td colspan="12" class="text-center">Agregue servicios para cotizar.</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>


            <div class="row justify-content-end mt-3">
              <div class="col-lg-5">
                <table class="table">
                  <tbody>
                    <tr class="quicksand-subtotal">
                      <td class="text-end col-3">Total Precio Lista</td>
                      <td class="text-end col-1">S/ {{ myFormCotizacion.get('sumaTotalesPrecioLista')?.value | number: '1.2-2' }}</td>
                    </tr>
                    <tr class="quicksand-subtotal">
                      <td class="text-end">Descuento Total</td>
                      <td class="text-end">S/ {{ myFormCotizacion.get('descuentoTotal')?.value | number: '1.2-2' }}</td>
                    </tr>
                    <tr class="quicksand-subtotal">
                      <td class="text-end">
                        <div class="form-check form-switch form-check-reverse">
                          <label class="form-check-label" for="switchDescuentoGlobal">Aplicar Precio Global</label>
                          <input class="form-check-input" type="checkbox" role="switch" id="switchDescuentoGlobal"
                          formControlName="aplicarPrecioGlobal"
                          (change)="cambioEstadoDescGlobal()">
                        </div>
                      </td>
                      <td>
                        <input type="number" class="form-control text-end form-control-sm" formControlName="precioConDescGlobal"
                          (input)="calcularTotalGeneral()">
                      </td>
                    </tr>
                    <tr class="quicksand-subtotal">
                      <td class="text-end">
                        <div class="form-check form-switch form-check-reverse">
                          <label class="form-check-label" for="switchDescuentoPorcentaje">Aplicar Descuento %</label>
                          <input class="form-check-input" type="checkbox" role="switch" id="switchDescuentoPorcentaje"
                          formControlName="aplicarDescuentoPorcentGlobal"
                          (change)="cambioEstadoDescPorcentajeGlobal()">
                        </div>
                      </td>
                      <td>
                        <input type="number" class="form-control text-end form-control-sm" formControlName="descuentoPorcentaje"
                          (input)="calcularTotalGeneral()">
                      </td>
                    </tr>
                    <tr class="quicksand-subtotal">
                      <td class="text-end">Sub Total</td>
                      <td class="text-end">S/ {{ myFormCotizacion.get('subTotal')?.value  | number: '1.2-2' }}</td>
                    </tr>
                    <tr class="quicksand-subtotal">
                      <td class="text-end">IGV (18%)</td>
                      <td class="text-end">S/ {{ myFormCotizacion.get('igv')?.value  | number: '1.2-2' }}</td>
                    </tr>
                    <tr class="quicksand-totales">
                      <td class="text-end">Total a pagar</td>
                      <td class="text-end fs-5">S/ {{ myFormCotizacion.get('total')?.value  | number: '1.2-2' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row mt-2">
              <!--
              <span class="text-danger" *ngIf="!validarArrayItems() && formSubmitted">
                Por favor seleccione al menos un item
              </span> 
              -->
            </div>

          </div>
        </div>

        <div class="row mt-2">
        
          <div class="col col-3 text-center">
            <button class="btn btn-primary" type="button" (click)="nuevaCotizacionPersona()">NUEVA COTIZACIÓN</button>
          </div>

          <div class="col col-3 text-center">
            <button class="btn btn-success" type="submit" *ngIf="!seSeleccionoCotizacion">GENERAR COTIZACIÓN</button>
          </div>

          <div class="col col-3 text-center">
            <button class="btn btn-warning" type="button" (click)="generarVersionCotizacionPersona()">GENERAR NUEVA VERSIÓN</button>
          </div>

          <div class="col col-3 text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalVistaPrevia" (click)="generarPDF(true)">VISTA PREVIA</button>
          </div>

        </div>

      </form>

      <!-- Modal de Vista Previa -->
      <div class="modal" id="modalVistaPrevia" tabindex="-1" aria-labelledby="vistaPreviaLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vistaPreviaLabel">Vista Previa de la Cotización</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
              <iframe *ngIf="pdfSrc" [src]="pdfSrc" width="100%" height="800px"></iframe>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button class="btn btn-primary" (click)="generarPDF(false)">Descargar</button>
            </div>
          </div>
        </div>
      </div>

  </div>

  <div class="col-12 col-xxl-4">

    <div class="card mb-4">
      
      <div class="card-header bg-primary text-white">
        
        <div class="row align-items-center"> 
          
          <div class="col-md-4">
            ULTIMAS COTIZACIONES
          </div>         
          
          <div class="col-md-8">
            <input type="text" class="form-control form-control-sm" placeholder="Ingrese busqueda..."
            [(ngModel)]="terminoBusquedaCotizacion"
            (input)="buscarCotizaciones()"  />
          </div>

        </div>

      </div>

      <div class="card-body">

        <!-- Tabla para listar los clientes -->
        <div class="row">
          <div class="col">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Cod Coti</th>
                  <th scope="col">Paciente</th>
                  <th scope="col">Documento</th>
                  <th scope="col">Versiones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cotizacion of cotizaciones; let i = index"
                    (click)="cargarCotizacion(cotizacion); seleccionarFila(i)"
                    [ngClass]="{'table-active': filaCotizacionSeleccionada === i, 'table-hover-row': true}">
                  <td>{{i+1}}</td>
                  <td>{{ cotizacion.codCotizacion}}</td>
                  <td>{{ cotizacion.historial[cotizacion.historial.length - 1].nomCliente }}</td>
                  <td>{{ cotizacion.historial[cotizacion.historial.length - 1].tipoDoc === '0' ? 'DNI' : 
                          cotizacion.historial[cotizacion.historial.length - 1].tipoDoc === '1' ? 'CE' : 
                          cotizacion.historial[cotizacion.historial.length - 1].tipoDoc === '2' ? 'PASAPORTE' : 'No especificado' }}
                      {{ cotizacion.historial[cotizacion.historial.length - 1].nroDoc }}</td>
                  <td class="text-center">{{ cotizacion.historial.length}}</td>
                  <!--
                  <td>
                    <button class="btn btn-info btn-sm" (click)="verDetalles(cliente)">Ver</button>
                  </td>-->
                </tr>
                
                <tr *ngIf="cotizaciones.length === 0">
                  <td colspan="5" class="text-center">No se encontraron pacientes.</td>
                </tr>
              </tbody>
            
            </table>
          </div>
        </div>

      </div>
    
    </div>

    <div class="card mb-4">
      
      <div class="card-header bg-primary text-white">

        <div class="row align-items-center"> 
          
          <div class="col-md-4">
            SERVICIOS DISPONIBLES
          </div>         
          
          <div class="col-md-8">
            <input type="text" class="form-control form-control-sm" placeholder="Ingrese busqueda de Servicio..." 
            [(ngModel)]="terminoBusquedaServicio"
            (input)="buscarServicio()"
            [ngModelOptions]="{standalone: true}">
          </div>

        </div>

      </div>

      <div class="card-body">

        

        <!-- Tabla con pacientes -->
        <table class="table table-sm table-hover">
          <thead>
              <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Acción</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let servicio of servicios; let i = index">
                  <td class="align-middle">{{ servicio.codServicio}}</td>
                  <td class="align-middle">{{ servicio.tipoServicio}}</td>
                  <td class="align-middle">{{ servicio.nombreServicio}}</td>
                  <td class="align-middle">
                    <i class="bi bi-eye-fill text-success me-3" (click)="verDetalle(servicio)" title="Ver Detalle" style="cursor: pointer; font-size: 1.5rem;"></i>
                    <i class="bi bi-plus-square-fill text-primary" (click)="seleccionarServicio(servicio)" title="Agregar" style="cursor: pointer; font-size: 1.5rem;"></i>
                  </td>
              </tr>
              
              <tr *ngIf="servicios.length === 0">
                  <td colspan="7" class="text-center">No se encontraron servicios.</td>
              </tr>
          </tbody>
        </table>

      </div>

    </div>

    <div class="card">
      <div class="card-header bg-warning text-dark">SERVICIOS FRECUENTES</div>
      <div class="card-body">
        <div class="d-flex flex-wrap gap-2">
          <button *ngFor="let servicio of serviciosFrecuentes" 
                  class="btn btn-outline-primary btn-sm" 
                  (click)="seleccionarServicio(servicio)">
            {{ servicio.nombreServicio }}
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
